rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // FOR TESTING ONLY - Allow all writes and reads
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 